[submodule "buildrump.sh"]
	path = buildrump.sh
	url = https://gitlab.na.nccgroup.com/smichaels/buildrump.sh
[submodule "src-netbsd"]
	path = src-netbsd
	url = https://gitlab.na.nccgroup.com/smichaels/src-netbsd
